// colors
$trout: #4d4d5c;
$off-white: #f7f8fb;
$grey: #ccc;

// typography
$font-color: $trout;
$base-font-size: 16px;
$base-line-height: 24px;
$font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
$font-weight: 400;
$font-weight-bold: 700;
$font-weight-light: 300;

// Modular Scale - using Minor Third
$ms-up-10: 7.43em;
$ms-up-9: 6.192em;
$ms-up-8: 5.16em;
$ms-up-7: 4.3em;
$ms-up-6: 3.583em;
$ms-up-5: 2.986em;
$ms-up-4: 2.488em;
$ms-up-3: 2.074em;
$ms-up-2: 1.728em;
$ms-up-1: 1.44em;
$ms-up: 1.2em;
$ms-base: 1em;
$ms-down: 0.833em;
